# Recommender system

### 1.0  movielens small som består av 100,000 ratings på 9000 filmer och 600 användare
- downloading the dataset

In [1]:
import pandas as pd

movies = 'Data1/ml-latest-small/ml-latest-small/movies.csv'
ratings = 'Data1/ml-latest-small/ml-latest-small/ratings.csv'

df_movies = pd.read_csv(movies, usecols=['movieId','title'], dtype={'movieId':'int32', 'title':'str'} )

In [4]:
df_movies.head()
# time 4.32

df_movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [6]:
df_ratings = pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userId':'int32', 'movieId':'int32', 'rating':'float32'})

In [7]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
# 9:20